body {
  font-family: 'Bree Serif', serif;

}

.imports-exports {
    display: grid;
    padding: 3% 0;
  
    grid-template-rows: 700px 700px;


}

div#layout {
  // text-align: center;
}

div#container {
  width: 1000px;
  height: 600px;
  margin: auto;
  background-color: transparent;
}



svg {
  width: 100%;
  height: 100%;
}

.bar {
  fill: darksalmon;
}

text {
  font-size: 12px;
  fill: darkslategrey;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

text.divergence {
  font-size: 14px;
  fill: #2F4A6D;
}

text.value {
  font-size: 14px;
}

text.title {
  font-size: 22px;
  font-weight: 600;
}

text.label {
  font-size: 14px;
  font-weight: 400;
}

text.source {
  font-size: 10px;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}