@import 'reset', 'bar-graph', 'lollipop';
.all {
  font-family: 'Bree Serif', serif;
}

.header {
  font-family: 'Bree Serif', serif;
  font-weight: 700;

  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 2% 3%;

  img {
    height: 40px;
    align-self: center;
  }

  p {
    font-size: 30px;
    color: darkslategrey;
    align-self: center;
  }
}



.header-left {
  display: grid;
  grid-template-columns: 56px auto;

}



.parallax-1 {
  background-image: url("/assets/images/whitebackground.png");
  min-height: 493px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  background-image: url("/assets/images/toasts.jpg");
  min-height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}

.parallax-3 {
  background-image: url("/assets/images/toasts.jpg");
  min-height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}



.info {
  grid-column-start: 1;
  grid-row-start: 1;
  display: grid;
  padding: 6%;
  color: darkslategrey;
  grid-template-rows: 1fr 1fr;
  grid-gap: 12px;
}



.info-title {
  font-size: 110px;
  align-self: center;
  text-shadow: 10px 0px lightsalmon;
  letter-spacing: 5px;

    
}

.discription {
    font-size: 18px;
    line-height: 1.5em;
    align-self: end;
    width: 50%;
    padding: 0 10px;
        
}

.discription:hover {
  background-color: white;
  border-radius: 12px;

}

.content {
    height: 1400px;
    
    
}

.author {
  height: 450px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: gray;
    padding: 0 13%;
    grid-gap: 9%;
    background-color: cornsilk;

  span {
    font-size: 35px;
    color: darkslategrey;
    text-shadow: 4px 3px lightsalmon;
    letter-spacing: 2px;
  }
  img {
    height: 230px;
    align-self: center;
  }
}

.author-info {
  display: grid;
    align-self: center;
    grid-gap: 30px;

    p {
      line-height: 1.5em;
      width: 500px;
      
    }
    span:hover {
      font-size: 50px;
    }
}

.icons {
    justify-self: start;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 23px;

  img {
    height: 35px;
  }
  img:hover {
    transform: scale(1.2);
  }
}

.facts {
    display: grid;
    grid-gap: 29px;
    place-self: center;
    font-size: 20px;
    color: white;
    background-color: #e9967ae6;
    border-radius: 12px;
    padding: 4% 0;
    width: 400px;
    
    

    span {
      font-size: 23px;
      place-self: center;
      color: lightyellow;
      text-shadow: 5px 3px darkslategrey;
      font-weight: 700;
    }

    li {
       width: 49%;
      line-height: 1.3em;
      justify-self: center;
      text-indent: -27px;
    }
}

.facts:hover {
  background-color: darksalmon;
 
}

.points {
    display: grid;
    grid-gap: 12px;
}